@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap');
.admin_main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: #ececec;
    font-family: 'Lato', sans-serif;
}

.modal_header{
    padding-bottom: 20px;
    h2{
        margin: 0px;
    }
}

.modal_dialog{
    overflow-Y: auto;
    webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
    select{
        border: 1px solid #00bcd4;
        background-color: #d9edf7;
        border-radius: 3px;
        font-size: 12px;
        height: 32px;
    }

}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal_dialog::-webkit-scrollbar {
    width: 5px;
}

.modal_dialog::-webkit-scrollbar-track {
    background: #ddd;
}

.modal_dialog::-webkit-scrollbar-thumb {
    background: #666; 
}
  
.overflow_scroll{
    overflow-Y: auto;
}
.overflow_scroll::-webkit-scrollbar {
    width: 5px;
}

.overflow_scroll::-webkit-scrollbar-track {
    background: #ddd;
}

.overflow_scroll::-webkit-scrollbar-thumb {
    background: #666; 
}
  
  
  
.crm_sidebar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    flex-wrap: nowrap;
    background-color: #2a3140;
    font-size: 12px;
    margin-left: -20px;
    padding: 10px;
}

.crm_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    font-size: 12px;

    a {
        color: white;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        i {
            opacity: 0.7;
        }
    }
}

.tab_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crm_tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    margin-bottom: 10px;
}

.field_flex_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.address_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.field_flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .field_flex_input_row {
        width: 100%;
        margin-bottom: 10px;

        span {
            display: block;
            margin-bottom: 2px;
            font-size: 12px;
            font-weight: 500;
        }

        input {
            width: 100%;
            height: 32px;
            box-sizing: border-box;
            padding: 5px;
            font-size: 12px;
            color: #5a5858;
            border: 1px solid #ccc;
            // border-radius: 3px;
            outline: none;
            transition: 0.2s all;
            background: rgba(249, 249, 249, 0.37);

            &:focus {
                border-color: #00bcd4 !important;
                box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.3);
            }
        }

        textarea {
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            padding: 5px;
            font-size: 12px;
            color: #5a5858;
            border: 1px solid #ccc;
            // border-radius: 3px;
            outline: none;
            transition: 0.3s all;

            &:focus {
                border-color: #00bcd4 !important;
                box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.3);
            }
        }
    }

    input {
        padding: 8px 10px;
        border-radius: 2px;
        border: none;
    }

    select {
        padding: 8px 10px;
        border-radius: 2px;
        border: none;
    }

    textarea {
        resize: none;
        border-radius: 2px;
        border: none;
        color: #5a5858;
    }
}

.order_top_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.order_status {
    font-weight: bolder;
    font-size: 10px;
}

.flex_normal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.flex_normal_column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column
}

.white_button {
    color: #00bcd4;
    background: white;
    cursor: pointer;


    &:hover {
        color: #00bcd4;
    }
}

// .crm_main {

    .table_wapper {
        margin-bottom: 20px;
        background: #fff;
        padding: 15px;
        width: 100%;
        border-radius: 6px;

    }

    .table_wapper table {
        width: 100%;
        border-collapse: collapse;
        border: none;
        border-spacing: 0;
        color: black;
        // border-radius: 4px;
        overflow: hidden;
        border: 0px;
    }
    table, tr, th, td{
        border: 0px;
    }
    .table_wapper table tr th,
    .table_wapper table tr td {
        font-size: 13px;
        color: #222;
        border: 0px;
    }

    .table_wapper table tr:hover td {
        background: #f9f9f9;

    }
    .table_wapper table thead tr{
        border:1px solid #ccc !important;
    }
    .table_wapper table tr th {
        background: #dde1e39e;
        text-transform: capitalize;
        height:33px;
        font-weight: 600;
    }

    .table_wapper table tr td {
        padding: 7px 2px;
        border-spacing: 0px;
        border-bottom: 1px solid #ccc;
    }

    .action_btn a {
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        padding: 4px 4px;
    }

    .action_btn a:first-child {
        color: #00bcd4 !important;
    }

    .action_btn a:last-child {
        color: #E5343D !important;
    }


// }

.modal_dialog {
    background-color: #fff;
    padding: 20px;
    color: #222;
    border-radius: 4px;
    .input_row {
        width: 100%;
        display: flex;
        margin-bottom: 10px;

        span {
            display: inline-block;
            font-size: 12px;
        }

        input {
            width: 100%;
            height: 32px;
            box-sizing: border-box;
            padding: 5px;
            font-size: 12px;
            color: #5a5858;
            border: 1px solid #ccc;
            outline: none;
            transition: 0.3s all;

            &:focus {
                border-color: #00bcd4 !important;
                box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.3);
            }

        }
    }

    .primary_btn,
    .btn_danger,
    .btn_submit ,
    .btn_save {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        padding: 0 16px;
        min-width: 64px;
        height: 33px;
        vertical-align: middle;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.37), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.18);
        font-size: 13px;
        font-weight: 500;
        line-height: 33px;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s;
    }
    .primary_btn{
        background-color: #00bcd4;
    }
    
    .btn_submit{
        background-color:  #358856; //#62BD69;
    }
    .btn_submit:hover {
        background-color: #358856; //#62BD69;
    }
    .btn_save{
        background-color:  #FFA701; //#62BD69;
    }
    .btn_save:hover {
        background-color: #FFA701; //#62BD69;
    }
    .btn_danger {
        background-color: #E5343D;
    }
    .btn_danger:hover {
        background-color: #E5343D;
    }

    .btn_danger::-moz-focus-inner,
    .primary_btn::-moz-focus-inner,
    .btn_submit::-moz-focus-inner,
    .btn_save::-moz-focus-inner{
        border: none;
    }

    /* Overlay */
    .btn_danger::before,
    .primary_btn::before,
    .btn_submit::before,
    .btn_save::before  {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.2s;
    }

    /* Ripple */
    .btn_danger:after,
    .primary_btn::after,
    .btn_submit::after ,
    .btn_save::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        padding: 50%;
        width: 32px;
        /* Safari */
        height: 32px;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 1s, transform 0.5s;
    }

    /* Hover, Focus */
    .btn_danger:hover,
    .btn_submit:hover,
    .btn_save:hover,
    .primary_btn:hover,
    .primary_btn:focus {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .btn_danger:hover::before,
    .btn_submit:hover::before,
    .btn_save:hover::before,
    .primary_btn:hover::before {
        opacity: 0.08;
    }

    .btn_danger:focus::before,
    .primary_btn:focus::before ,
    .btn_submit:focus::before ,
    .btn_save:focus::before {
        opacity: 0.24;
    }

    .btn_danger:hover:focus::before,
    .primary_btn:hover:focus::before,
    .btn_submit:hover:focus::before,
    .btn_save:hover:focus::before {
        opacity: 0.3;
    }

    .modal_dialog {
        background-color: #fff;
        padding: 20px;
        color: #222;
        border-radius: 4px;
    }

    .filter_select {
        label {
            display: block;
            margin-bottom: 2px;
            font-size: 13px;
            font-weight: 500;
        }

        select {
            border: 1px solid #00bcd4;
            background-color: #d9edf7;
            border-radius: 3px;
            font-size: 12px;
            height: 32px;
        }

        input {
            border-radius: 3px;
            height: 32px;
            box-sizing: border-box;
            padding: 5px;
            color: #5a5858;
            border: 1px solid #ccc;
        }
    }

    .list_table_title {
        font-size: 13px;
        font-weight: 600;
    }

    .select_option_button {
        height: 30px;
    }

    .filter_add_btn {
        height: 32px;
        padding: 0px 15px;
        border: 1px solid #20aff7;
        background: #f9f9f9;
        cursor: pointer;
    }

    .filter_clear_btn {
        height: 32px; 
        padding: 0px 15px;
        border: 1px solid #20aff7;
        background: #f9f9f9;
        cursor: pointer;
    }


    .field_flex_new{
        // width:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        
    }

}

.back_button {
    background-color: #fff;
    padding-left: 20px;
    color: #222;
    border-radius: 4px;
   

    .primary_btn,
    .btn_danger,
    .btn_submit ,
    .btn_save {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        padding: 0 16px;
        min-width: 64px;
        height: 33px;
        vertical-align: middle;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.37), 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.18);
        font-size: 13px;
        font-weight: 500;
        line-height: 33px;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s;
    }
    .primary_btn{
        background-color: #00bcd4;
    }
    
    .btn_submit{
        background-color:  #358856; //#62BD69;
    }
    .btn_submit:hover {
        background-color: #358856; //#62BD69;
    }
    .btn_save{
        background-color:  #FFA701; //#62BD69;
    }
    .btn_save:hover {
        background-color: #FFA701; //#62BD69;
    }
    .btn_danger {
        background-color: #E5343D;
    }
    .btn_danger:hover {
        background-color: #E5343D;
    }

    .btn_danger::-moz-focus-inner,
    .primary_btn::-moz-focus-inner,
    .btn_submit::-moz-focus-inner,
    .btn_save::-moz-focus-inner{
        border: none;
    }

    /* Overlay */
    .btn_danger::before,
    .primary_btn::before,
    .btn_submit::before,
    .btn_save::before  {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.2s;
    }

    /* Ripple */
    .btn_danger:after,
    .primary_btn::after,
    .btn_submit::after ,
    .btn_save::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        padding: 50%;
        width: 32px;
        /* Safari */
        height: 32px;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 1s, transform 0.5s;
    }

    /* Hover, Focus */
    .btn_danger:hover,
    .btn_submit:hover,
    .btn_save:hover,
    .primary_btn:hover,
    .primary_btn:focus {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .btn_danger:hover::before,
    .btn_submit:hover::before,
    .btn_save:hover::before,
    .primary_btn:hover::before {
        opacity: 0.08;
    }

    .btn_danger:focus::before,
    .primary_btn:focus::before ,
    .btn_submit:focus::before ,
    .btn_save:focus::before {
        opacity: 0.24;
    }

    .btn_danger:hover:focus::before,
    .primary_btn:hover:focus::before,
    .btn_submit:hover:focus::before,
    .btn_save:hover:focus::before {
        opacity: 0.3;
    }
    
 

}